[submodule "plover_phrasing"]
	path = plover_phrasing
	url = https://github.com/Jade-GG/plover_phrasing.git
[submodule "vim"]
	path = vim
	url = https://github.com/Josiah-tan/plover-vim.git
[submodule "emily-symbols"]
	path = emily-symbols
	url = https://github.com/EPLHREU/emily-symbols.git
[submodule "emily-modifiers"]
	path = emily-modifiers
	url = https://github.com/EPLHREU/emily-modifiers.git
[submodule "aerick-phrasing"]
	path = aerick-phrasing
	url = https://github.com/aerickt/aerick-phrasing
